@model string[]

<div type=row id="answer-1-row">
    <table>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 10; j++)
                {
                    <td width="40" align="center">
                        @Model[10*i+j]
                    </td>
                }
            </tr>
        }
    </table>
</div>
