@model List<KeyValuePair<string,int>>

<div type=row id="answer-1-row">
    <p>Word : Frequency</p>
    @{
        int count = 100;
        foreach(KeyValuePair<string, int> kvPair in @Model){
            if(kvPair.Value < count){
                <br /><br /><text>@kvPair.Value : @kvPair.Key</text>
                count = kvPair.Value;
            }
            else
            {
                <text> , @kvPair.Key</text>
            }
        }
}
</div>
