
@{
    ViewBag.Title = "ResendEmailConfirmation";
}

<h2>ResendEmailConfirmation</h2>

<form action="Url.Action("ResendEmailConfirmation","Account")"
      method="post">
    @Html.AntiForgeryToken()

    <label>Resend to email:</label>
    <input type="email" name="email"/><br />
    <button type="submit">Resend Confirmation Email</button>
</form>