	<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-xs-12">
				<h2>About Me</h2>
				<p>Thank you for taking the time to learn about me!  I am a North Carolina native and something of a ham.  In my spare time, I try my hand at home brewing apple cider with my beautiful fiancée, Elisabeth.  I have two wonderful Siamese cats, and I volunteer at the pet rescue as a cat socializer.  Tinkering with software and hardware has been a long-standing hobby for me.  I find computer games fascinating and aspire to design and build them soon.</p>
			</div>

		</div><! --/row -->
	</div><! --/container -->