<div class="container CSExercises">
    <div class="row">
        <div class="col-xs-12 centered">
            <h1>C# Exercises</h1>
        </div>
    </div>
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c1 C">
                <h1 id="fun1" class="codeC" onclick="callMax()">Max</h1>
            </div>
            <div class="col-sm-4 c2 C">
                <h1 id="fun2" class="codeC" onclick="callSum()">Sum & Multiply</h1>
            </div>
            <div class="col-sm-4 c3 C">
                <h1 id="fun3" class="codeC" onclick="callFactorial()">Factorial</h1>
            </div>
        </div>
    </div><! --/row -->
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c4 C">
                <h1 id="fun4" class="codeC" onclick="callPalindrome()">Palindrome</h1>
            </div>
            <div class="col-sm-4 c5 C">
                <h1 id="fun5" class="codeC" onclick="callFizzBuzz()">FizzBuzz</h1>
            </div>
            <div class="col-sm-4 c6 C">
                <h1 id="fun6" class="codeC" onclick="callLongestWord()">Longest Word</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c7 C">
                <h1 id="fun7" class="codeC" onclick="filterLong()">Filter Long</h1>
            </div>
            <div class="col-sm-4 c8 C">
                <h1 id="fun8" class="codeC" onclick="callWordFreq()">Word Frequency</h1>
            </div>
            <div class="col-sm-4 c9 C">
                <h1 id="fun9" class="codeC" onclick="countAlice()">Count Alice</h1>
            </div>
        </div>
    </div>
</div><! --/container -->


<script type="text/html" id="maxOfThree1Template">
    <div type="row">
        <div type="col-xs-1">
            <input type="text" id="number1" size="15">
            <p>I expanded this method to accept more than three numbers.  Please input as many numbers as you would like, separated by spaces.</p>
        </div>
    </div>

    <div type="row" id="answer-1-row">

    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="sumMultTemplate">
    <div type="row">
        <div type="col-xs-1">
            <input type="text" id="number1" size="15">
            <p>I expanded this method to accept more than three numbers.  Please input as many numbers as you would like, separated by spaces.</p>
        </div>
        <div type="col-xs-1">
        </div>
        <div type="row" id="answer-1-row">
        </div>
        <div id="unmadeCode">
        </div>
    </div>
</script>
<script type="text/html" id="facTemplate">
    <div type="row">
        <div type="col-xs-1">
            <input type="text" id="number1" size="15">
            <p>Please input a positive integer.</p>
        </div>
    </div>
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="palTemplate">
    <div type="row">
        <div type="col-xs-1">
            <input type="text" id="number1" size="15">
            <p>Please input a word or phrase.</p>
        </div>
    </div>
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="fbTemplate">
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="lwTemplate">
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="flTemplate">
    <div type="row">
        <div type="col-xs-1">
            <input type="number" id="number1" size="15">
            <p>What is the shortest length of word you would like displayed?</p>
        </div>
    </div>
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>
<script type="text/html" id="wfTemplate">
    <div type="row">

        <div type="row" id="answer-1-row">
        </div>
        <div id="unmadeCode">
        </div>
    </div>
</script>
<script type="text/html" id="caTemplate">
    <div type="row">
        
    </div>
    <div type="row" id="answer-1-row">
    </div>
    <div id="unmadeCode">
    </div>
</script>

<script src="~/assets/js/PortfolioCS.js"></script>
