<div class="container JSExercises">
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c1 C">
                <h1 id="fun1" class="codeC" onclick="callMax()">Max</h1>
            </div>
            <div class="col-sm-4 c2 C">
                <h1 id="fun2" class="codeC" onclick="callSum()">Sum</h1>
            </div>
            <div class="col-sm-4 c3 C">
                <h1 id="fun3" class="codeC" onclick="callMultiply()">Multiply</h1>
            </div>
        </div>
    </div><! --/row -->
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c4 C">
                <h1 id="fun4" class="codeC" onclick="callFactorial()">Factorial</h1>
            </div>
            <div class="col-sm-4 c5 C">
                <h1 id="fun5" class="codeC" onclick="callPalindrome()">Palindrome</h1>
            </div>
            <div class="col-sm-4 c6 C">
                <h1 id="fun6" class="codeC" onclick="callFizzBuzz()">FizzBuzz</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gallery text-center" style="cursor:pointer">
            <div class="col-sm-4 c7 C">
                <h1 id="fun7" class="codeC" onclick="callDisp()">Find Perfect</h1>
            </div>
            <div class="col-sm-4 c8 C">
                <h1 id="fun8" class="codeC" onclick="callIsHappy()">Happy</h1>
            </div>
            <div class="col-sm-4 c9 C">
                <h1 id="fun9" class="codeC" onclick="callArmstrong()">Armstrong</h1>
            </div>
        </div>
    </div>
</div><! --/container -->
<script src="~/assets/js/Portfolio.js"></script>