<div id="workwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h4>JAVASCRIPT PROBLEMSET</h4>
                <h3>BY PHILIP WEISER</h3>
            </div>
        </div><! --/row -->
    </div> <!-- /container -->
</div><! --/workwrap -->

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1 id='exampleHeader'>JavaScript Exercises, maxOfThree</h1>
        <p id="prompt">Please input three numbers:</p>
        <input type='text' id='text1' size=5 autofocus>
        <input type='text' id='text2' size=5>
        <input type='text' id='text3' size=5>
        <br><br><br>
        <input type='text' id='answer' size=8 readonly>
        <input type=button id="clickMe" value="Submit" onclick="callMax()" />
        <input type=button id="next" value="Next Solution" onclick="nextSln()" />
    </div><! --/row -->
</div><! --/container -->
<script src="~/assets/js/jquery-impromptu.min.js"></script>
<link href="~/assets/css/jquery-impromptu.min.css" rel="stylesheet" />
<script src="~/assets/js/Portfolio.js"></script>
